@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #477C76ff;
  --primary-light: #6BA09Aff;
  --primary-lighter: #A6CACAff;
  --secondary: #826A52ff;
  --secondary-light: #D7CFC4ff;
}

body, html {
  background-color: var(--secondary-light);
}
